*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Outfit',sans-serif;
}

body{
  background:hsl(217, 54%, 11%);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:hsl(216, 50%, 16%);
  width:350px;
  padding:24px;
  border-radius:15px;
  box-shadow:0 25px 50px rgba(0,0,0,0.4);
}

.main-img{
  width:100%;
  border-radius:10px;
  margin-bottom:20px;
}

h1{
  color:hsl(0, 0%, 100%);
  font-size:22px;
  font-weight:600;
  margin-bottom:16px;
}

.description{
  color:hsl(215, 51%, 70%);
  font-size:18px;
  line-height:1.5;
  margin-bottom:20px;
}

.info{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.price,
.time{
  display:flex;
  align-items:center;
  gap:6px;
  font-size:15px;
}

.price span{
  color:hsl(178, 100%, 50%);
  font-weight:600;
}

.time span{
  color:hsl(215, 51%, 70%);
}

.price img,
.time img{
  width:16px;
}

.line{
  height:1px;
  background:hsl(215, 32%, 27%);
  margin-bottom:20px;
}

.creator{
  display:flex;
  align-items:center;
  gap:16px;
}

.avatar{
  width:33px;
  height:33px;
  border-radius:50%;
  border:1px solid white;
}

.creator p{
  color:hsl(215, 51%, 70%);
  font-size:16px;
}

.creator span{
  color:hsl(0,0%,100%);
}